---
import { Code } from 'astro/components'
import Layout from '../layouts/Base.astro';

const CODE = `# Clone the repository
npm run dev`
---

<Layout title="Manual">
	<main>
    <Code code={CODE} lang="sh"/>
      <a href="/DefaultDoc/docs/get-started/introduction" class="w-fit px-8 my-4 text-center mx-auto block bg-green-700 hover:bg-green-800 text-white text-lg font-bold py-2 rounded">
        GET STARTED
      </a>
    </div>
	</main>
</Layout>
